@charset "utf-8";

@import "bourbon";
@import "neat";

$emphasis: #5cc265;
$dark: #444;
$padding-top: 10rem;

html, body {
  height: 100%;
}

body {
  @include outer-container(100%);
  line-height: $gutter;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: $dark;
}

h1 {
  line-height: 1em;
  margin: 0;
  font-family: "Bree Serif", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $emphasis;
  &:hover {
    text-decoration: underline;
  }

  &.logo {
    color: $dark;
  }
}

.sidebar {
  padding-top: $padding-top;
  @include span-columns(4 of 12);
  text-align: right;

  img {
    display: inline-block;
    max-width: 8em;
    margin-bottom: $gutter;
  }
}

.content {
  padding-top: $padding-top;
  max-width: 40em;
  @include span-columns(6 of 12);
  @include omega;
  font-size: 1.2em;

  p {
    margin-top: 0;
  }
  padding-right: $gutter;
}

ul {
  list-style: none;
  margin-top: $gutter;
}

article {
  padding-bottom: 12em;

  h1 { margin-bottom: 1.62rem; }

  img {
    max-width: 100%;
    margin-top: $gutter;
    margin-bottom: $gutter;
    transition: transform 1s;

    &:hover { transform: scale(2); }
  }
}

.sketch-link {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: none;
  display: inline-block;

  .thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  span {
    display: block;
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
    background-color: $dark;
    opacity: 0.7;
    z-index: 3;
    text-align: center;
    padding-top: 90px;
  }
}
