@charset "utf-8";

@import "bourbon";
@import "neat";

@import "components/projects";

$blue: #2299d4;
$white: #fcfdff;

$emphasis: $blue;
$dark: #444;

$padding-top: 10rem;
$sidebar-width: 33%;
$content-width: 100% - $sidebar-width;

$heading-font-family: "proxima-nova", sans-serif;
$block-font-family: "adelle", serif;

html, body {
  color: $dark;
  font-family: $block-font-family;
  font-size: 18px;
  font-variant: normal;
  font-weight: normal;
  font-weight: 300;
  height: 100%;
  line-height: $gutter;
}

body {
  @include outer-container(100%);
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: $heading-font-family;
  font-weight: 700;
}

h1 {
  line-height: 1em;
  margin: 0;
}

a {
  text-decoration: none;
  color: $emphasis;
  &:hover {
    text-decoration: underline;
  }

  &.logo {
    color: $dark;
  }
}

.sidebar {
  background-color: $blue;
  height: 100%;
  padding-right: $gutter;
  padding-top: $padding-top;
  position: fixed;
  text-align: right;
  width: $sidebar-width;
  overflow-y: scroll;

  img {
    display: inline-block;
    max-width: 12em;
    margin-bottom: $gutter;
  }

  ul li {
    margin: $gutter 0;
  }

  a {
    color: $white;
  }
}

.content {
  margin-bottom: $gutter * 4;
  top: $padding-top;
  padding: $gutter;
  padding-top: 0;
  position: absolute;
  left: $sidebar-width;
  max-width: 40em;
}

ul {
  list-style: none;
  margin-top: $gutter;
}

article {
  padding-bottom: 12em;

  h1 { margin-bottom: 1.62rem; }

  img {
    max-width: 100%;
  }
}

.sketch-link {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: none;
  display: inline-block;

  .thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  span {
    display: block;
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
    background-color: $dark;
    opacity: 0.7;
    z-index: 3;
    text-align: center;
    padding-top: 90px;
    color: $white;
  }
}
