<div class="sidebar">
  <% link_to "/", class: "logo" do %>
    <%= gravatar_image('wright.grayson@gmail.com') %>
    <h1>Grayson Wright</h1>
  <% end %>
  <ul>
    <li><%= link_to "Sketches", "/sketches.html" %></li>
  </ul>
</div>
