<div class="sidebar">
  <a href="<%= url("/") %>" class="logo">
    <img src="/grayson.jpg" alt="Grayson Wright" />
    <h1>Grayson Wright</h1>
  </a>
  <ul>
    <li><a href="https://www.notion.so/Blog-0dba2833d5264084bf7dcb94c2d6f3bc">Blog</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="http://resume.graysonwright.com">Resume</a></li>
    <li><a href="/sketches">Sketches</a></li>
  </ul>
</div>
