<div class="sidebar">
  <a href="<%= url("/") %>" class="logo">
    <img src="https://www.gravatar.com/avatar/6a2e183a609cf77e2b7078bd6767f262?s=400" alt="Grace Youngblood" />
    <h1>Grace Youngblood</h1>
  </a>
  <ul>
    <li><a href="/projects">Projects</a></li>
    <li><a href="http://resume.graysonwright.com">Resume</a></li>
    <li><a href="/sketches">Sketches</a></li>
  </ul>
</div>
