<div class="sidebar">
  <a href="<%= url("/") %>" class="logo">
    <%= gravatar_image('wright.grayson@gmail.com') %>
    <h1>Grayson Wright</h1>
  </a>
  <ul>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/sketches">Sketches</a></li>
  </ul>
</div>
