<h1>Projects</h1>

<p class="projects-intro">
Since November, I've been building web apps
with <a href="https://thoughtbot.com/">thoughtbot</a>.
Previously, I worked on Rails applications
as a freelance designer and developer.
Here's a sampling of current and past work.
</p>

<div class="projects">
  <div class="project project-inprogress project-lead">
    <div class="project-media">
      <img src="/projects/openreferral/logo.png" alt="OpenReferral Logo"/>
    </div>
    <div class="project-info">
      <h2>San Francisco OpenReferral</h2>
      <div class="description">
        Every Wednesday night as part of <a href="http://codeforsanfrancisco.org/">Code for San Francisco</a>,
        the OpenReferral team
        works to collect and distribute
        information about social service organizations
        in and around San Francisco.
        As the lead developer in SF,
        I coordinate the work of many volunteers
        and help shape the direction of the project.
      </div>
      <ul class="project-links">
        <li><a class="details" href="/projects/openreferral">Details</a></li>
        <li><a class="website" href="http://openreferral.org/">Visit Site</a></li>
      </ul>
    </div>
  </div>

  <div class="project project-inprogress">
    <div class="project-media">
      <img src="/projects/administrate/logo_cropped.png" alt="Administrate Logo"/>
    </div>
    <div class="project-info">
      <h2>Administrate</h2>
      <div class="description">
        Administrate is an open-source tool
        for creating user-friendly and developer-friendly admin dashboards
        in Rails apps.
        I'm the lead developer on the project,
        which is driven heavily by user testing.
      </div>
      <ul class="project-links">
        <li><a class="details" href="/projects/administrate">Details</a></li>
      </ul>
    </div>
  </div>

  <div class="project">
    <div class="project-media">
      <img src="http://logo.clearbit.com/thoughtbot.com" alt="thoughtbot Logo"/>
    </div>
    <div class="project-info">
      <h2>thoughtbot Client Work</h2>
      <div class="description">
        During the week, I work with clients to create web applications -
        I build out new features, modernize legacy apps,
        and teach teams <a href="http://playbook.thoughtbot.com/">best practices for development</a>.
        Unfortunately I can't talk about many of my projects,
        but you can find <a href="https://thoughtbot.com/work">some sample work</a> on our website.
      </div>
      <ul class="project-links">
        <li><a href="https://thoughtbot.com/">Visit Site</a></li>
      </ul>
    </div>
  </div>

  <div class="project">
    <div class="project-media">
      <img src="/projects/carbon_cash/logo.png" alt="Carbon Cash Logo"/>
    </div>
    <div class="project-info">
      <h2>Carbon Cash</h2>
      <div class="description">
        Carbon Cash is an environmental startup
        dedicated to reducing energy consumption on college campuses.
        I helped the team build an API
        to process data from power companies
        and power web, Android, and iOS apps.
      </div>
      <ul class="project-links">
        <li><a class="details" href="/projects/carbon_cash">Details</a></li>
        <li><a class="website" href="http://carboncash.co/">Visit Site</a></li>
      </ul>
    </div>
  </div>
</div>
