<% blog(:sketches).articles.each do |sketch| %>
  <a href="<%= sketch.url %>">
    <div class="sketch-link">
      <img src="<%= "/sketches/" + sketch.data[:cover] %>" class="thumbnail" />
      <span><%= sketch.title %></span>
    </div>
  </a>
<% end %>
