<% blog(:sketches).articles.each do |sketch| %>
  <% link_to sketch.url do %>
    <div class="sketch-link">
      <%= image_tag "/sketches/" + sketch.data[:cover], class: "thumbnail" %>
      <span><%= sketch.title %></span>
    </div>
  <% end %>
<% end %>
